<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
        <style>
            body{
                background-color: hsla(89, 43%, 51%, 0.3);;
            }
            h1 {
                position: relative;
                margin-left: 35%;
                margin-top: 1%;
                  color: white;
                text-shadow: 2px 2px 4px #000000;
            }
        
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 3%;
            }
        
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 5px;
            }
        
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
</head>
<body>
    <h1>Transactions Details</h1>
        <table>
            <tr>
                <th>Sender Name</th>
                <th>Receiver Name</th>
                <th>Amount</th>
            </tr>
            <tr>
                <th>Rohan das</th>
                <th>veer salunke</th>
                <th>500</th>
            </tr>
            <tr>
                <th>Kiran shinde</th>
                <th>Kumar joshi</th>
                <th>200</th>
            </tr>
            <tr>
               <th>vinod bopale</th>
               <th>Manoj darade</th>
               <th>300</th>
            </tr>
        </table>
</body>
</html>